<div class="h-100 w-screen flex items-center justify-center bg-teal-lightest font-sans">
  <div class="bg-white rounded shadow p-6 m-4 w-full lg:w-3/4 lg:max-w-lg">
    <div class="mb-4">
      <h1 class="text-grey-darkest">Todo List</h1>
      <form class="flex mt-4" (ngSubmit)="addTodo(title)">
        <input
          type="text"
          class="shadow appearance-none border rounded w-full py-2 px-3 mr-4 text-grey-darker"
          placeholder="Add Todo"
          [(ngModel)]="title"
          [ngModelOptions]="{standalone: true}"
        >
        <button
          class="flex-no-shrink p-2 border-2 rounded text-teal border-teal hover:text-white hover:bg-teal"
          type="submit"
        >Add</button>
      </form>
    </div>
    <div>
      <div class="flex mb-4 items-center" *ngFor="let todo of todos">
        <p
          class="w-full text-grey-darkest {{ todo.completed ? 'line-through text-green' : '' }}"
        >{{ todo.title }}</p>
        <button
          class="flex-no-shrink p-2 ml-4 mr-2 border-2 rounded hover:text-white
            {{ todo.completed ? 'text-grey border-grey hover:bg-grey' : 'text-green border-green hover:bg-green' }}
          "
          (click)="toggleTodo(todo)"
        >{{ todo.completed ? 'Not Done' : 'Done' }}</button>
        <button
          class="flex-no-shrink p-2 ml-2 border-2 rounded text-red border-red hover:text-white hover:bg-red"
          (click)="removeTodo(todo)"
        >Remove
        </button>
      </div>
    </div>
  </div>
</div>